body {
    font-family: Roboto;
}

#title {
    position: absolute;
    left: 10%;
    top: 10%;
}

#fuel_buttons {
    display: flex;
    position: absolute;
    bottom: 8%;
    left: 30%;
    width: 360px;
    height: 40px;
}

#gasolina_simples {
    margin-right: 30%;
    width: 200px;
    font-family: roboto;
    background-color: transparent;
    border-radius: 10px;
    border-width: 0.1px;
}

#gasolina_simples:hover {
    cursor: pointer;
    background-color: rgb(219, 248, 189);
}

#gasoleo_aditivado {
    width: 200px;
    font-family: roboto;
    background-color: transparent;
    border-radius: 10px;
    border-width: 0.1px;
}

#gasoleo_aditivado:hover {
    cursor: pointer;
    background-color: rgb(219, 248, 189);
}

#icons {
    display: flex;
    position: absolute;
    top: 3%;
    margin-left: 20%;
    right: 1%;
    width: 200px;
}

#linkedin #linkedin-icon {
    width: 40px;
}

#linkedin #linkedin-icon-after {
        display: none;
        position: absolute;
        width: 40px;
        top: 0;
        left: 0;
        z-index: 99;
}

#linkedin:hover #linkedin-icon-after {
    display: inline;
    cursor: pointer;
}

#github #github-icon {
    width: 40px;
    margin-left: 50px;
}

#github-icon:hover {
    cursor: pointer;
}

#layout {
    position: relative;
    left: -5%;
    display: flex;
}

.li-price {
    position: relative;
    left: -360%;
}
.li-type {
    position: relative;
    left: -160%;
}

.topics-div {
    position: relative;
    left: -225%;
}
.li-name {
    position: relative;
    left: -30%;
}


#layout-content {
    display: flex;
}

#main-layout {
    position: absolute;
    align-content: center;
    left: 5%;
    top: 30%;
    width: 90%;
}
.static_title {
    position: relative;
    margin-left: 15%;
    align-content: center;
}

#posto_nome {
    list-style-type: none;
    line-height: 3em;
}

#posto_preço {
    margin-left: 2.5%;
    list-style-type: none;
    line-height: 3em;
}
#tipo_combustivel {
    margin-left: 13.8%;
    list-style-type: none;
    line-height: 3em;
}

#posto_localização {
    margin-left: 14.6%;
    list-style-type: none;
    line-height: 3em;
}

@media only screen and (max-width: 1873px) {
    #posto_nome {
        margin-left: 2%;
    }

    #posto_preço {
        position: relative;
        left: 3.5%;
    }
    #tipo_combustivel {
        position: relative;
        left: 3.5%;
    }
    
    #posto_localização {
        position: relative;
        left: 4%;
    }
  }

  @media only screen and (max-width: 1740px) {
    #posto_preço {
        margin-left: 6.5%;
    }

    #fuel_buttons {
        left: 42%;
    }
    #main-layout {
        left: 10%;
    }
    #title {
        left: 33%;
    }
  }
  @media only screen and (max-width: 1710px) {
    #posto_preço {
        margin-left: 6%;
    }
  }
  @media only screen and (max-width: 360px) {
    #title {
        position: absolute;
        left: 0%;
        text-align: center;
        top: 17%;
        font-size: 1.4em;
    }

    #layout {
        position: relative;
        left: 1%;
        margin-left: 0%;
        font-size: 0.7em;
    }

    #layout-content {
        position: relative;
        left: -30%;
        font-size: 0.6em;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 400px;
    }
    #posto_nome {
        margin-left: -2%;
    }
    
    #posto_preço {
        position: relative;
        left: 0%;
        margin-left: 0.2%;
        width: 33px;
        padding-left: 0%;
        padding-right: 0%;
    }
    #tipo_combustivel {
        position: relative;
        left: 0;
        margin-left: 20px;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    #posto_localização {
        position: relative;
        margin-left: 30px;
        padding-left: 0%;
        padding-right: 0%;
    }
    #gasolina_simples {
        position: relative;
        left: -39%;
        margin-right: 0%;
        width: 130px;
    }
    
    #gasoleo_simples {
        position: relative;
        left: -18%;
        width: 130px;
    }
    .li-price {
        width: 40px;
        position: relative;
        left: -40%;
    }
    .li-type {
        width: 73px;
        position: relative;
        margin-left: -25px;
        left: -20%;
    }

    .topics-div {
        position: relative;
        left: -75%;
    }
    .li-name {
        width: 120px;
        position: relative;
        left: -8%;
    }

    .static_preço {
        margin-left: 0%;
        position: relative;
        left: 0%;
    }

    .static_fuel {
        margin-left: 11%;
    }

    .static_location {
        margin-left: 13%;
        position: relative;
        left: -1%;
    }

    #icons {
        display: flex;
        position: absolute;
        top: 3%;
        margin-left: 20%;
        right: -30%;
        width: 200px;
    }
    
    #linkedin #linkedin-icon {
        width: 30px;
    }
    
    #linkedin #linkedin-icon-after {
            width: 30px;
    }
    
    #github #github-icon {
        width: 30px;
        margin-left: 20px;
    }
  }
  
  @media only screen and (max-width: 412px) {
    #title {
        position: absolute;
        left: 0%;
        text-align: center;
        top: 17%;
        font-size: 1.3em;
    }

    #layout {
        position: relative;
        margin-left: -28%;
        left: 1%;
        font-size: 0.7em;
    }

    #layout-content {
        position: relative;
        left: -30%;
        font-size: 0.6em;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        width: 400px;
    }
    #posto_nome {
        margin-left: 0%;
        position: relative;
        left: 9%;
    }
    
    #posto_preço {
        position: relative;
        left: 6%;
        margin-left: 0.5%;
        width: 33px;
        padding-left: 0%;
        padding-right: 0%;
    }
    #tipo_combustivel {
        position: relative;
        left: 8%;
        margin-left: 12%;
        padding-left: 0%;
        padding-right: 0%;
    }
    
    #posto_localização {
        position: relative;
        left: 9%;
        padding-left: 0%;
        padding-right: 0%;
    }
    #gasolina_simples {
        position: relative;
        left: -39%;
        margin-right: 0%;
        width: 130px;
    }
    
    #gasoleo_aditivado {
        position: relative;
        left: -18%;
        width: 130px;
    }
    .li-price {
        width: 40px;
        position: relative;
        left: 16%;
    }
    .li-type {
        position: relative;
        left: 10%;
        width: 73px;
    }
    .li-name {
        width: 120px;
        position: relative;
        left: 1%;
    }

    .topics-div {
        position: relative;
        left: 6%;
    }

    .static_preço {
        margin-left: 15%;
    }

    .static_fuel {
        margin-left: 13%;
    }

    .static_location {
        margin-left: 7%;
    }

    #icons {
        display: flex;
        position: absolute;
        top: 3%;
        margin-left: 20%;
        right: -26%;
        width: 200px;
    }
    
    #linkedin #linkedin-icon {
        width: 30px;
    }
    
    #linkedin #linkedin-icon-after {
            width: 30px;
    }
    
    #github #github-icon {
        width: 30px;
        margin-left: 20px;
    }
  }

.topics-div:hover {
    cursor: pointer;
    color: rgb(174, 251, 91);
}