.t3 {
    margin-top: 120px;
}

.t2 {
    position: relative;
    top: 25px;
}

body {
    font-style: Roboto;
}

.social {
    width: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.linkedin {
    margin-right: 40px;
}

.linkedin:hover {
    cursor: pointer;
}

.github {
    margin-right: 20px;
}

.github:hover {
    cursor: pointer;
}

.title {
    margin-top: 110px;
}

.li-title {
    font-weight: 800;
    font-size: 1.2em;
}


.topics-div:hover {
    cursor: pointer;
    color: rgb(174, 251, 91);
}

.t {
    position: relative;
    left: -72px;
}

.g {
    position: relative;
    left: -25px;
}

ul {
    list-style: none;
}

#gasolina_simples {
    margin-right: 70px;
    background-color: transparent;
    border-radius: 10px;
    border-width: 0.1px;
}

#gasolina_simples:hover {
    cursor: pointer;
    background-color: rgb(219, 248, 189);
}

#gasoleo_simples {
    background-color: transparent;
    border-radius: 10px;
    border-width: 0.1px;
}

#gasoleo_simples:hover {
    cursor: pointer;
    background-color: rgb(219, 248, 189);
}

.t4 {
    position: relative;
    top: 100px;
}

#municipio {
    border-radius: 10px;
    height: 27px;
    text-align: center;
    width: 110px;
}

@media only screen and (max-width: 991px) {
    .t3 {
        margin-top: 10px;
    }

    .t4 {
        position: relative;
        top: 10px;
    }

    .title {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 390px) {

    #gasolina_simples {
        width: 80px;
        font-size: 12px  
    }

    #gasoleo_simples {
        width: 80px;
        font-size: 12px  
    }
}